html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(gray, white); /* Standard syntax */
    font-family: verdana;
}

h1 {
  text-align: center;
  background-color: DodgerBlue;
  font-size: 60px;
}

#para1 {
  text-align: center;
  background-color: Tomato;
  color: white;
}
