body{
    background-image: url(../img/bridge.jpg);
    background-attachment: fixed; /*Inhalte Scrollen, bg nicht*/
}

h1{
  color: white;
  font-family: 'Pacifico', cursive;
  text-shadow: 5px 3px #ffcc99;
  text-align:center;
  font-size:100px;
}


#mitte{
  text-align: justify;
  background-color: white;
  width: 550px;
  height: 550px;
  margin: 10px auto 10px auto;
  padding: 30px 20px 10px 20px; /* top right bottom left*/
  border-radius: 15px;
}

#side{
  text-align: left;
  background-color: #ffe6ff;
  width: 100px;
  height: 600px;
  margin-right: 600px;

}
